@{
    ViewBag.Title = "Habitats";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<ul>
    @{
        for (int i = 0; i < ViewBag.Habitats.Count; i++)
        {
            <li>@ViewBag.Habitats[i].HabitatName</li>}
    }
</ul>
